h1 {
  

  /*
  line-height: normal;
  line-height: 2.5;
  line-height: 150%;
  line-height: 32px;
  */
  

  /*
  letter-spacing: normal;
  letter-spacing: 1px;
  letter-spacing: -1px;
  */

  
  /*
  font-size: large;
  font-size: xxx-large;
  font-size: 80%;
  font-size: 50px;
  */
}